In [16]:
# python program to count  devnagri charcaters 
import pandas as pd
import numpy as np
import unicodedata
import math
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', -1)

In [17]:
#script = r"C:\Users\Lavkush\3D Objects\poem2.txt"
#script = r"C:\Users\Lavkush\3D Objects\Poem.txt"
script = r"C:\Users\Lavkush\3D Objects\Python Nlp\Poem3.txt"
#script  = input("Enter Your Text")

In [18]:
list = []
with open(script, encoding='utf-8') as f:
     for i in  f.readlines(): list.append(i.strip())

In [19]:
df = pd.DataFrame(list, columns = ['Script'])
df['Script'].replace('', np.nan, inplace=True)
df.dropna(subset=['Script'], inplace=True)

In [20]:
def splitclusters(s):
    virama = u'\N{DEVANAGARI SIGN VIRAMA}'
    lst=[]
    cluster = u''
    last = None
    for c in s:
        cat = unicodedata.category(c)[0]
        if cat == 'M' or cat == 'L' and last == virama:
            cluster += c
        else:
            if cluster:
                lst.append(cluster)
            cluster = c
        last = c
    if cluster:
        lst.append(cluster)
    return lst

In [21]:
df["Tokenise1"] =df["Script"].apply((splitclusters))

In [22]:
def clean(Textlist):
    tokenize = []
    for i in Textlist : 
        if i in [" ",",","_","-",np.nan,"?", "\ufeff","\""] : pass
        else : tokenize.append(i)
    return tokenize

df["Tokenise"] =df["Tokenise1"].apply((clean))
del df["Tokenise1"]

In [25]:
def length(sentence):
    lst = []
    for j in (sentence):
            if (u'\u093F')in j or (u'\u0909') in j or (u'\u0907') in j or (u'\u0941') in j  :lst.append([j,1])
            elif j in [ '\u0915' , '\u0916' , '\u0917' , '\u0918' , '\u0919' , '\u091A' , '\u091B' , '\u091C' , '\u091D' , '\u091E' ,'\u091F' ,'\u0920','\u0921','\u0922','\u0923', '\u0924' , '\u0925', '\u0926' , '\u0927' , '\u0928' , '\u092A' , '\u092B' , '\u092C' , '\u092D' , '\u092E' , '\u092F' , '\u0930' , '\u0932' ,'\u0933', '\u0935' , '\u0936' , '\u0937' , '\u0938' , '\u0939']:lst.append([j,1])
            else : lst.append([j,2])
    return (lst)

In [26]:
def totalsum(sentence):
    lst = 0
    for j in (sentence):
            if (u'\u093F')in j or (u'\u0909') in j or (u'\u0907') in j or (u'\u0941') in j  : lst += 1
            elif j in [ '\u0915' , '\u0916' , '\u0917' , '\u0918' , '\u0919' , '\u091A' , '\u091B' , '\u091C' , '\u091D' , '\u091E' ,'\u091F' ,'\u0920','\u0921','\u0922','\u0923', '\u0924' , '\u0925', '\u0926' , '\u0927' , '\u0928' , '\u092A' , '\u092B' , '\u092C' , '\u092D' , '\u092E' , '\u092F' , '\u0930' , '\u0932' ,'\u0933', '\u0935' , '\u0936' , '\u0937' , '\u0938' , '\u0939']:lst += 1
            else : lst += 2
    return (lst)

In [27]:
df["Length"] = df["Tokenise"].apply(length)
df["Sum"] = (df["Tokenise"]).apply(totalsum)
df.head(15)

,Script,Tokenise,Length,Sum
0,﻿,[],[],0
1,खड्यात पडल्यास हातावर छड्या,"[ख, ड्या, त, प, ड, ल्या, स, हा, ता, व, र, छ, ड्या]","[[ख, 1], [ड्या, 2], [त, 1], [प, 1], [ड, 1], [ल्या, 2], [स, 1], [हा, 2], [ता, 2], [व, 1], [र, 1], [छ, 1], [ड्या, 2]]",18
2,गागाल गागाल गागागा लगा,"[गा, गा, ल, गा, गा, ल, गा, गा, गा, ल, गा]","[[गा, 2], [गा, 2], [ल, 1], [गा, 2], [गा, 2], [ल, 1], [गा, 2], [गा, 2], [गा, 2], [ल, 1], [गा, 2]]",19
4,कण्हत कुथत पोट्ट्याशिवाय,"[क, ण्ह, त, कु, थ, त, पो, ट्ट्या, शि, वा, य]","[[क, 1], [ण्ह, 2], [त, 1], [कु, 1], [थ, 1], [त, 1], [पो, 2], [ट्ट्या, 2], [शि, 1], [वा, 2], [य, 1]]",15
5,लगा लगा गागालगाल,"[ल, गा, ल, गा, गा, गा, ल, गा, ल]","[[ल, 1], [गा, 2], [ल, 1], [गा, 2], [गा, 2], [गा, 2], [ल, 1], [गा, 2], [ल, 1]]",14
7,मोत्याच्या कुडीत सत्याबाय,"[मो, त्या, च्या, कु, डी, त, स, त्या, बा, य]","[[मो, 2], [त्या, 2], [च्या, 2], [कु, 1], [डी, 2], [त, 1], [स, 1], [त्या, 2], [बा, 2], [य, 1]]",16
8,गागागा लगाल गागागाल,"[गा, गा, गा, ल, गा, ल, गा, गा, गा, ल]","[[गा, 2], [गा, 2], [गा, 2], [ल, 1], [गा, 2], [ल, 1], [गा, 2], [गा, 2], [गा, 2], [ल, 1]]",17
10,हक्क नि हेका सुलुचा,"[ह, क्क, नि, हे, का, सु, लु, चा]","[[ह, 1], [क्क, 2], [नि, 1], [हे, 2], [का, 2], [सु, 1], [लु, 1], [चा, 2]]",12
11,गाल ल गागा ललगा,"[गा, ल, ल, गा, गा, ल, ल, गा]","[[गा, 2], [ल, 1], [ल, 1], [गा, 2], [गा, 2], [ल, 1], [ल, 1], [गा, 2]]",12
13,समजावण्याने आणिच वाढायचा,"[स, म, जा, व, ण्या, ने, आ, णि, च, वा, ढा, य, चा]","[[स, 1], [म, 1], [जा, 2], [व, 1], [ण्या, 2], [ने, 2], [आ, 2], [णि, 1], [च, 1], [वा, 2], [ढा, 2], [य, 1], [चा, 2]]",20
14,गागालगागा गागा गागालगा,"[गा, गा, ल, गा, गा, गा, गा, गा, गा, ल, गा]","[[गा, 2], [गा, 2], [ल, 1], [गा, 2], [गा, 2], [गा, 2], [गा, 2], [गा, 2], [गा, 2], [ल, 1], [गा, 2]]",20

In [28]:
newlist = df["Length"].apply(np.concatenate)

ValueError: need at least one array to concatenate